# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.ilk
*.pdb
*.o
*.so
# Precompiled headers:
*.gch

# Compilation outputs:
build/*
jheatt_engine_demo/Debug/*
jheatt_engine_demo/Release/*
jheatt_engine_library/build/*
jheatt_engine_library/Debug/*
jheatt_engine_library/Release/*

# Visual Studio Artifacts (`.vs/jheatt_engine_[demo/library]/v*/` folder)
*.ipch
*.VC.db
*.VC.opendb