# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.ilk
*.pdb
*.o
*.so
# Precompiled headers:
*.gch

# Compilation outputs:
build/*

# Visual Studio Artifacts (`.vs/jheatt_engine/v*/` folder)
*.ipch
*.VC.db